@model Comp2007_Assignment2.Models.Dish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pokemon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pokemon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DishID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
