@model IEnumerable<Comp2007_Assignment2.Models.Dish>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

    <a href="@Url.Action("Create")" class="btn btn-default" title="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PokemonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PokemonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishImageUrl)
        </td>
        <td>
            <a href="@Url.Action("Edit", new {id = item.DishID})" class="btn btn-default" title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Details", new {id = item.DishID})" class="btn btn-default" title="Info"><i class="fa fa-info"></i></a>
            <a href="@Url.Action("Delete", new {id = item.DishID})" class="btn btn-default" title="Delete"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
}

</table>
