@model Comp2007_Assignment2.Models.Dish

@{
    ViewBag.Title = "Details";
}

<h2>Dish: @Model.Name</h2>

<ul>
    <li>Type: @Model.Type.Name</li>
    <li>Pokemon: @Model.Pokemon.Name</li>
    <li>Price: @Model.Price</li>
    <li>Dish Art: @Model.DishImageUrl</li>




</ul>

